.projetos{
  margin-top: 200px;
  background: #AA8EE7;
  display: grid;
  grid-template-columns: 500px 500px;
  position: relative;
}

.subtitulo-projeto{
  font-size: 80px;
  color: white;
  text-align: center;
  margin: 0px;
}
.projetos-detalhe{
  position: absolute;
  width: 250px;
  top: 400px;
  left: 350px;
}